* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Montserrat', sans-serif;
}

.aside-bar {
  position: relative;
  background-color: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 270px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left: 50px;
  margin-right: 50px;
}

/* .el-barto {
  position: absolute;
  top: 40px;
  left: 50px;

  width: 270px;
} */

.wrapper {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.contacts-container {
  margin-left: 40px;
  margin-top: 60px;
  margin-right: 40px;
}

.contacts-title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.contacts-link-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}
.con-emails {
  text-decoration: none;
  color: #666e79;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.con-emails:hover {
  color: #2196f3;
}

.tech-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.tech-skills-container {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
}

.tech-skills-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  /* color: #ff6b08; */
  color: #2196f3;
}

.sidebar-list-text {
  color: #c8cacd;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.soft-skills-container {
  margin-left: 40px;
  margin-top: 55px;
  margin-right: 40px;
  margin-bottom: 376px;
}

.soft-skills-title {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.soft-skills-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  /* color: #ff6b08; */
  color: #2196f3;
}

.aboutme-container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.rank {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.name {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
.details {
  color: #595959;
  width: 415px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.info-container {
  margin-bottom: 65px;
}

.aboutme-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.project-link {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
}

.dots {
  color: #a8a8a8;
  font-weight: 100;
}
.project-list {
  margin-left: 18px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.project-container {
  margin-bottom: 55px;
}

.prof-title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}

.company {
  color: #2196f3;
  /* color: #ff7d26; */
}

.prof-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.divider {
  color: #000000;
}

.prof-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}

.prof-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.univer {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #2196f3;
  /* color: #ff7d26; */
}

.univer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.education-margin {
  margin-top: 65px;
}
